<template name="RoundBase">
  {{#if isMaster}}
  <!-- Words mode -->
  <div id="words" class="container round-base noselect">
    <div class="row">
      <div class="col-xs-12 round-words">
        <button class="btn btn-primary pull-right btn-master-mode" data-target="#words" type="button" name="button">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </button>

        {{> RoundWords}}
      </div>

      <div class="col-xs-12 round-players">
        {{> RoundPlayers}}
      </div>
    </div>
  </div>

  <!-- Solution mode -->
  <div id="solution" class="container round-base noselect hidden">
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-primary pull-left btn-master-mode" data-target="#solution" type="button" name="button">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </button>

        {{> RoundSolution}}
      </div>
    </div>
  </div>
  {{else}}
    {{> RoundDeciphering}}
  {{/if}}
</template>
