<template name="RoundPlayers">
  <ul class="players players-single-line" id="bottom-players">
    {{#each players}}
      {{#if currentPlayer}}
        <li style="opacity:0.3;">{{> Player name=profile.firstName pictureUrl=profile.pictureUrl userId=userId disabled=true }}</li>
      {{else}}
        {{#if currentWord}}
          <li>{{> Player name=profile.firstName pictureUrl=profile.pictureUrl userId=userId word=currentWord.crypted}}</li>
        {{else}}
          <li>{{> Player name=profile.firstName pictureUrl=profile.pictureUrl userId=userId }}</li>
        {{/if}}
      {{/if}}
    {{/each}}
  </ul>
</template>
