<template name="RoundDeciphering">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center" style="margin-top: 0;">
        {{#if currentWord}}
          {{> Word text=currentWord mode="white" wrap="true"}}
        {{else}}
          {{> Word text="...waiting for word..." mode="green" wrap="true"}}
        {{/if}}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 text-center">
        <a href="#">
          <span class="glyphicon glyphicon-massive glyphicon-ok" aria-hidden="true"></span>
        </a>
      </div>
      <div class="col-xs-6 text-center">
        <a href="#">
          <span class="glyphicon glyphicon-massive glyphicon-remove" aria-hidden="true"></span>
        </a>
      </div>
    </div>

    <div class="row well well-sm cipher-mapping">
      <div class="col-xs-offset-1 col-xs-4 text-center">
        <ul>
          {{#each leftCypher}}
            <li>{{ key }} <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> {{ value }}</li>
          {{/each}}
        </ul>
      </div>
      <div class="col-xs-offset-2 col-xs-4 text-center">
        <ul>
          {{#each rightCypher}}
            <li>{{ key }} <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> {{ value }}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</template>
