<template name="RoundSolution">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center" id="bottom-solve">
        <ol>
        {{#each slots}}
          {{#if this}}
            <li>{{ this }}</li>
          {{else}}
            <li>NEEDS CARD</li>
          {{/if}}
        {{/each}}
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <a href="#" class="btn btn-hover btn-menu" style="background-color: #00a1d5;" type="submit" name="validate-sentence">
          <img class="btn-img" style="background-color: #007095;" src="../images/check.png">
          DONE
        </a>
      </div>
    </div>
  </div>
</template>
