<template name="JoinGame">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12">
        <h1>Game Code</h1>
      </div>
    </div>

    <div class="row" style="margin-top: 50px; margin-bottom: 70px;">
      <div class="col-xs-12">
        <input type="text" name="gameName" value="" size="6" maxlength="5">
      </div>
    </div>

    {{#if error}}
      <div class="error-text" role="alert">{{ error }}</div>
    {{/if}}

    <div class="row">
      <div class="col-xs-12 text-center">
        <a href="#" class="btn btn-hover btn-menu" style="background-color: #00a1d5;" type="submit" name="join-game">
          <img class="btn-img" style="background-color: #007095;" src="/images/arrow.png">
          JOIN
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <a href="/" class="btn btn-hover btn-menu" style="background-color: #fc6172;" type="button" name="button">
          <img class="btn-img" style="background-color: #b1444f;" src="/images/logout.png">
          BACK
        </a>
      </div>
    </div>
  </div>
</template>
