<template name="Player">
  <div class="player" id="{{_id}}">
    <img src="{{pictureUrl}}" class="img-circle" alt="{{name}} profile picture" />
    <span>{{name}}</span>
    {{#if deciphered}}
    <span class="glyphicon glyphicon-massive glyphicon-ok" aria-hidden="true"></span>
    {{/if}}
    {{#if notDeciphered}}
    <span class="glyphicon glyphicon-massive glyphicon-remove" aria-hidden="true"></span>
    {{/if}}
    {{#if word}}
    <span class="small-word word-wrap" style="font-size: 15px;">{{word}}</span>
    {{/if}}
  </div>
</template>
