code.game {
  font-size: 300%;
  background: black;
  color: white;
  letter-spacing: 5px;
}

.qr-code {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.qr-code img {
  background: white;
  padding: 5px;
}
