.players {
  margin: 0;
  padding: 0;
}

.players li {
  display: inline-block;
}

.player {
  margin: 5px;
}

.player img {
  max-width: 100px;
  max-height: 100px;
  display: block;
}

.player span {
  font-size: 150%;
  display: block;
}
