.players {
  margin: 0;
  padding: 0;
}

.players li {
  display: inline-block;
}

#bottom-solve li {
  display: inline-block;
}

.players-single-line {
  width: 100%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  white-space: nowrap;

  & .player {
    display: inline-block;
  }
}

.player {
  margin: 5px 15px;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.player img {
  width: 100%;
  height: 100%;
  display: block;
}

.player span {
  font-size: 150%;
  display: block;
}
