/******** Word ********/
.word {
  margin-top: 10px;
  margin-bottom: 10px;
}

.word code {
  padding: 10px;
  // font-size: 4vw;
  font-size: 200%;
  letter-spacing: 5px;
}

.word.word-white code {
  background: black;
  color: white;
}

.word.word-red code {
  background: red;
  color: white;
}

.word.word-green code {
  background: green;
  color: white;
}

.small-word {
  width: 100px;
  padding: 5px;
  color: black;
  background-color: white;
  border-radius: 5px;
  margin-top: 5px;
}

/******** RoundBase ********/
.round-base {
  position: relative;
  width: 100%;
  height: 100%;
}

.round-panel {
  height: 50%;
}

.upper-panel {
}

.lower-panel {
  & .carousel.slide,
  & .carousel.slide .carousel-inner {
    height: 100%;
  }
  & .carousel.slide .item {
    height: 95%;
  }

  & .carousel.slide .row-80 { height: 80%; }
  & .carousel.slide .row-20 { height: 20%; }
}


/******** RoundWords ********/
.round-words {
  text-align: center;
  height: 100%;
}

.round-words li {
  display: inline-block;
}


/******** RoundPlayers ********/
.round-base .room-players {
  position: relative;
  height: 100%;
}


/******** RoundWords ********/


/******** WordGuess ********/
.modal-guess {
  text-align: center;

  .modal-dialog {
    // margin: 100px;
    // margin-left: auto;
    // margin-right: auto;
    // width: 85%;
  }
}

.modal-guess .modal-header,
.modal-guess .modal-footer {
  text-align: center;
  border: 0;
}

.modal-guess input[type=text] {
  margin-bottom: 30px;
}


/******** RoundDeciphering ********/
.cipher-mapping {
  margin-left: 20px;
  margin-right: 20px;
  background: rgba(0, 0, 0, 0.2);
}

.cipher-mapping ul {
  list-style: none;
  font-size: 120%;
}

.cipher-mapping .glyphicon {
  font-size: 70%;
}
