/* prevent dot from appearing while being dragged */
li.gu-mirror { list-style-type: none; }

/******** Word ********/
.word {
  margin-top: 10px;
  margin-bottom: 10px;

  code {
    padding: 10px;
    font-size: 200%;
    letter-spacing: 5px;
    color: white;
    cursor: pointer;
  }

  &.word-white code { background: black; }
  &.word-red code { background: red; }
  &.word-green code { background: green; }
  &.word-gray code { background: gray; }
}

.small-word {
  width: 100px;
  padding: 5px;
  color: black;
  background-color: white;
  border-radius: 5px;
  margin-top: 5px;
}

/******** RoundBase ********/
.round-base {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  & > div {
    height: 100%;
    height: 100%;
    margin: 0;
  }

  & .col-xs-12 {
    padding: 0;
  }
}

.round-players {
  vertical-align: bottom;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.btn-master-mode {
  border-radius: 0;
}

.btn-round {
  border-radius: 0;
  width: 38px;
}

.progress {
  border-radius: 0;
  height: 34px;
}

/******** RoundWords ********/
.round-words {
  display: inline-block;
  text-align: center;
}

.round-words li {
  display: inline-block;
}


/******** RoundPlayers ********/
.round-base .room-players {
  position: relative;
  height: 100%;
}


/******** RoundWords ********/


/******** WordGuess ********/
.modal-guess {
  text-align: center;

  .modal-dialog {
    // margin: 100px;
    // margin-left: auto;
    // margin-right: auto;
    // width: 85%;
  }
}

.modal-guess .modal-header,
.modal-guess .modal-footer {
  text-align: center;
  border: 0;
}

.modal-guess input[type=text] {
  margin-bottom: 30px;
}


/******** RoundDeciphering ********/
.cipher-mapping {
  margin-left: 20px;
  margin-right: 20px;
  background: rgba(0, 0, 0, 0.2);
}

.cipher-mapping ul {
  list-style: none;
  font-size: 120%;
}

.cipher-mapping .glyphicon {
  font-size: 70%;
}
