/* CSS declarations go here */
* {
  margin: 0;
  padding: 0;
}

html * {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: white;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #112539;
}

h1 {
  color: white;
}

code {
  font-family: monospace;
}

.row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-social {
  background-size: 270px 44px;
  width: 268px;
  height: 44px;
  border-left-width: 0px;
  background-position-x: -1px;
  background-position-y: -1px;
  border-radius: 0px;
}

.btn-hover:hover {
  opacity: 0.7;
}

.btn-facebook {
  background-image: url("images/fbButton.png");
}

.btn-google {
  background-image: url("images/googleButton.png");
}

.user-name {
  color: white;
  font-size: 30px;
}

.btn-menu {
  height: 44px;
  width: 312px;
  border-radius: 0px;
  color: white;
  font-size: 20px;
  color: white;
  position: relative;
}

.btn-img {
  width: 44px;
  height: 44px;
  position: absolute;
  padding: 10px;
  top: -1px;
  left: -1px;
}

.btn-text {
  width: 268px;
  height: 44px;
  border-radius: 0px;
  margin-left: -3px;
}

.glyphicon.glyphicon-massive {
  font-size: 300%;
}

.glyphicon-ok {
  color: green;
}

.glyphicon-remove {
  color: red;
}

.word-wrap {
  word-wrap: break-word;
}
