/* CSS declarations go here */
html * {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-facebook {
  background-color: black;
  background-image: url("images/fbButton.png");
  background-size: 268px 44px;
  width: 268px;
  height: 44px;
  border-left-width: 0px;
}

.btn-facebook:hover {
  opacity: 0.7;
}
