<template name="Login">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12">
        <h1>Tronerad!</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <img src="images/youtube.jpg" alt="" />
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        {{#if currentUser}}
          {{currentUser.services.facebook.name}}
          {{currentUser.services.google.name}}
          <button id="logout">Logout</button>
        {{else}}
          <div class="row">
            <div class="col-xs-12">
              <button id="facebook-login" class="btn btn-social btn-facebook"></button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button id="google-login" class="btn btn-social btn-google"></button>
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>
