<template name="Tutorial">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12">
        <h1>Tronerad!</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <img src="images/youtube.jpg" alt="" />
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 btn-hover">
        <a href="/" class="btn btn-img" type="button" name="button" style="background-image: url('images/menu.png'); background-color: #ad6700;"></a>
        <a href="/" class="btn btn-text" type="button" name="button" style="background-color: #f99500;">MAIN MENU</a>
      </div>
    </div>

  </div>
</template>
