<template name="Welcome">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12">
        <h1>Tronerad!</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <img src="images/youtube.jpg" alt="" />
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        {{#if currentUser}}
          {{currentUser.services.facebook.name}} -
          {{currentUser.services.facebook.gender}}
          <button id="logout">Logout</button>
        {{else}}
          <button id="facebook-login" class="btn btn-facebook">Login with Facebook</button>
        {{/if}}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-lg btn-primary" type="button" name="button">NEW GAME</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-lg btn-primary" type="button" name="button">JOIN GAME</button>
      </div>
    </div>
  </div>
</template>
