<template name="Welcome">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12">
        <h1>Tronerad!</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 user-name">
        {{> Player name=getUserName pictureUrl=getUserPicture }}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 btn-hover">
        <a href="/new" class="btn btn-img" type="button" name="new-game" style="background-image: url('images/plus.png'); background-color: #007095;"></a>
        <a href="/new" class="btn btn-text" type="button" name="new-game" style="background-color: #00a1d5;">NEW GAME</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 btn-hover">
        <a href="/join" class="btn btn-img" type="button" name="button" style="background-image: url('images/arrow.png'); background-color: #3b2456;"></a>
        <a href="/join" class="btn btn-text" type="button" name="button" style="background-color: #55347c;">JOIN GAME</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 btn-hover">
        <a href="/tutorial" class="btn btn-img" type="button" name="button" style="background-image: url('images/pages.png'); background-color: #59987d;"></a>
        <a href="/tutorial" class="btn btn-text" type="button" name="button" style="background-color: #7fd9b4;">TUTORIAL</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 btn-hover" id="logout">
        <a href="/" class="btn btn-img" type="button" name="button" style="background-image: url('images/logout.png'); background-color: #b1444f;"></a>
        <a href="/" class="btn btn-text" type="button" name="button" style="background-color: #fc6172;">LOGOUT</a>
      </div>
    </div>
  </div>
</template>
