<template name="NewGame">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12">
        {{#if getGame}}
          {{> FoundGame}}
        {{else}}
          <div class="alert alert-danger" role="alert">Game not found</div>
        {{/if}}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-center">
        <a href="/round" class="btn btn-hover btn-menu" style="background-color: #00a1d5;" type="submit" name="new-game">
          <img class="btn-img" style="background-color: #007095;" src="/images/arrow.png">
          START
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <a href="/" class="btn btn-hover btn-menu" style="background-color: #fc6172;" type="button" name="button">
          <img class="btn-img" style="background-color: #b1444f;" src="/images/logout.png">
          LEAVE
        </a>
      </div>
    </div>
  </div>
</template>

<template name="FoundGame">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <code class="game">{{ getGameId }}</code>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        {{> QR target=getCurrentRoute }}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="players">
          {{#each getParticipants}}
          {{> Player name=profile.firstName pictureUrl=profile.pictureUrl }}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>
